%% only test 'estr' module, don't want to run tests from the imported Elixir beams
%% because they will fail in this environment
{eunit_tests, [{module, estr}]}.

%% NB: not a concern with rebar3, it cleans under _build
%% 'clean' might have nuked the ebin/ dir, copy beams over every time
%% {pre_hooks, [{"(linux|darwin)", compile, "mkdir -p ebin && cp -f elixir_beams/*.beam ebin/"}]}.

%% we hardcode the modules list to include imported Elixir beams
{validate_app_modules, false}.
